/* *{
    page-break-after: 0;
    margin:0;
} */
.head{
   
    width:100vw;
    display: block;
    margin: 10px 5px;
   
    text-align: center;
    background-color: black;
    color: white;
    font-size:40px;
}
.git{
    text-decoration:none;
    
    font-size:30px;
    color:black;
    margin:3px 40pxx;
    background-color:yellow;
}
li {
    font-size:25px;
    margin-bottom:1em;
}
li a{
    text-decoration:none;
    
    padding: 5px;
    color: white;
    background-color: black;
}
li a:hover{
    color:black;
    background-color: yellow;
}

